.container {
  display: flex;
  flex-direction: column;
  .img {
    position: relative;
    top: -16px;
    left: -16px;
    margin-bottom: -16px;
    width: calc(100% + 32px);
    border-radius: 0px 0px 27px 27px;
    background-color: var(--second-background-color);
    .colors {
      z-index: 10;
      position: absolute;
      top: 8px;
      left: 16px;
      display: flex;
      gap: 5px;
    }
    img {
      width: 100%;
    }
  }
  .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
    .details {
      text-align: left;
      max-width: 75%;
      .name {
        font-size: 26px;
        font-weight: 400;
        line-height: 30.47px;
        color: var(--main-text-color);
      }
      .description {
        font-size: 15px;
        font-weight: 400;
        line-height: 17.58px;
        margin: 4px 0 10px 0;
        color: var(--second-text-color);
      }
      .art {
        font-size: 8px;
        font-weight: 400;
        line-height: 9.38px;
        color: var(--second-text-color);
      }
    }
  }
  .propsTitle {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 19.92px;
    text-align: left;
    color: var(--main-text-color);
  }
  .marketWrapper {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }
  .properties {
    margin-top: 16px;
    margin-bottom: 20px;
    text-align: left;
    padding: 16px 14px 14px 15px;
    border-radius: 10.08px;
    background-color: var(--second-background-color);
    .propsDesc {
      white-space: wrap;
      font-size: 15px;
      font-weight: 400;
      line-height: 17.58px;
      text-align: left;
      color: var(--acent-black);
    }
  }
  .categories {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }
  .footer {
    background-color: var(--main-background-color);
    border-top: 1px solid var(--second-background-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 16px 16px 31px;
    width: 100%;
    .fullPrice {
      font-size: 15px;
      font-weight: 400;
      line-height: 17.58px;
      text-decoration: line-through;
      color: var(--second-text-color);
    }
    .totalPrice {
      font-size: 22px;
      font-weight: 500;
      line-height: 25.78px;
      color: var(--main-text-color);
    }
  }
  .specifications {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
  }
  .reviews {
    position: relative;
    left: -16px;
    display: flex;
    overflow-x: scroll;
    gap: 8px;
    padding: 16px 16px 0 16px;
    width: 100vw;
  }
}

.picture {
  img {
    width: 100%;
    padding: 30px 87px 10px;
    box-sizing: border-box;
  }
}