.container {
  background-color: var(--second-background-color);
  border-radius: 20px;
  padding: 18px 17px 18px 17px;
  min-width: 80vw;
  max-width: 80vw;
  height: 174px;
  .name {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: left;
    margin-bottom: 4px;
  }
  .description {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    margin: 8px 0 15px 0;
  }
  .date {
    float: right;
    font-size: 10px;
    font-weight: 300;
    line-height: 11.72px;
    text-align: left;
    color: var(--second-text-color);
  }
  .stars {
    display: flex;
    .star {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
    }
  }
}
