.button {
  height: 29px;
  border-radius: 7px;
  padding: 7px 21px;
  background: var(--main-button-color);
  .title {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: var(--button-text-color);
  }
}
