.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
  padding: 0 20px;
  bottom: 50px;
  color: var(--button-text-color);

  .title {
    font-size: 25px;
  }

  .description {
    font-size: 18px;
    white-space: pre-line;
  }
}

.closeModalBtn {
  position: absolute;
  top: 25px;
  right: 15px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  color: var(--button-text-color);
  font-size: 20px;

  z-index: 2;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;

  img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
