.container {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  background: var(--main-background-color);
  margin: 0 16px;
  padding: 11px 24px 10px 19px;
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  box-shadow: 0px 6px 18.9px 0px rgba(0, 0, 0, 0.14);
  z-index: 100;
  .button {
    width: 30px;
    height: 30px;
  }
  .cartBtn {
    position: relative;
    .productAmount {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      background: var(--button-text-color);
      border: 1px solid var(--main-button-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: var(--main-button-color);
    }
  }
}
