@import "./variables";
@import "./normalize";

.App {
  text-align: center;
  min-height: 100vh;
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  p {
    font-family: "Roboto", sans-serif;
  }
}
