.container {
  position: relative;
  background-color: var(--second-background-color);
  border-radius: 18px;
  .button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 8px 7px;
    border-radius: 50%;
    background-color: var(--main-background-color);
    .icon {
      width: 19.89px;
      height: 18px;
    }
  }
}
