.input {
  width: 100%;
  height: 48px;
  background-color: var(--second-background-color);
  border-radius: 15px;
  padding: 9px 46px;
  font-weight: 400;
  font-size: 18px;
  &::placeholder {
    color: var(--main-hint-color);
    font-weight: 400;
    font-size: 18px;
    // line-height: 21px;
  }
}
.label {
  position: relative;
  flex-grow: 1;
  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}
