.container {
  display: flex;
  flex: 1 1 auto;
  gap: 11px;
  align-items: center;
  background-color: var(--second-background-color);
  padding: 11px 0 8px 13px;
  border-radius: 10.08px;
  box-shadow: 0px 4px 18.7px 1px rgba(0, 0, 0, 0.09);
  .image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .title {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    text-align: left;
  }
}
