
.input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: var(--second-text-color);
  opacity: 1;
}

.inputBlock {
  display: flex;
  gap: 10px;

  label {
    font-size: 12px;
  }
}

.container {
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 14px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid var(--second-text-color);
  transition: all 0.3s ease;
}

.input + label {
  position: relative;
}

.input:checked {
  display: none;
}

.input:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  outline: 3.5px solid black;
  box-sizing: border-box;
}

.descriptionText {
  color: var(--second-text-color);
  font-size: 12px;
}


.isSelected {
  border: 1px solid var(--main-text-color);

  label {
    padding-left: 23px
  }
}