.container {
  .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 19px;
    border: none
  }

  .delivery {
    position: absolute;
    left: 0;
    bottom: 90px;
    padding: 5px 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    background-color: var(--second-background-color);
  }
}
