.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .banner {
    width: calc(100vw - 36px);
  }
  .title {
    font-size: 28px;
    font-weight: 500;
    line-height: 32.81px;
    text-align: left;
    margin: -1px 0 16px 0;
  }
  .categories {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .categoriesRow {
      width: 100%;
      display: flex;
      gap: 5px;
    }
  }
  .bannerPlaceholder {
    width: calc(100vw - 60px);
    height: calc((100vw - 60px) / 1);
    background: #f0f0f0;
    border-radius: 14px;
    animation: pulse 1.5s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      background-color: #f0f0f0;
    }
    50% {
      background-color: #e0e0e0;
    }
    100% {
      background-color: #f0f0f0;
    }
  }
}
