.container {
  display: flex;
  flex-direction: column;
  .banner {
    float: left;
    width: 100%;
    padding: 0;
  }
  .buttons {
    margin: 11px 0 16px 0;
  }
  .buttonRow {
    margin: 4px 0 4px 0;
    display: flex;
    gap: 4px;
  }
}
